*{ padding: 0; margin: 0;}

.header{
    background-image: url("../imagens/Banner-02.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 412px;
}
.content-header{
    width: 1166px;
    display: flex;
    flex-direction: column;  
    
}
#cont-logo{
    margin-top: 50px;
   
}
#cont-logo img{
    width: 317px;
    height: auto;
}
#cont-topo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
#cont-topo h1{
    color: #CB0D0D;
    font-family: 'Outfit' , sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
}
#cont-topo p{
    padding-top: 20px;
    font-family: 'Outfit' , sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 100px 0;
}
#main-text{
    font-family: 'Outfit' , sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #CB0D0D;
    font-size: 20px;
    font-weight: 300;
}
#main-form{
    padding-top: 30px;
    
    
}
#input-pin{
    border: solid #7070708c 1.5px;
    padding-left: 8px;
    font-family: 'Outfit' , sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: rgb(70, 70, 70);
    width: 350px;
    height: 50px;
    border-radius: 5px;
    margin-right: 5px;
    
    
}
#input-pin:focus{
    
    border: rgb(214, 143, 11) solid  2px;
    outline: none;
    box-shadow: #e9bf04 0px 0px 10px 0.1px ;
    

}
::placeholder{
    color: #d4d3d3;
    font-weight: 300;
    
}
#input-acesso{
    background-color: #fdc611;
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Outfit' , sans-serif;
    font-family: 'Roboto', sans-serif;
    color: white;
    width: 133px;
    height: 54px;
    margin-left: 5px;
}
#input-acesso:hover{
    background-color: #dbac12 ;
    cursor: pointer;
}
.alert{
    background-color: #B10101;
    display: flex;
    justify-content: center;
    height: 190px;
    align-items: center;
}
#cont-alert{
    display: flex;
    align-items: center;
}
#cont-alert p{
    color: white;
    font-size: 16px;
    font-family: 'Outfit' , sans-serif;
    font-family: 'Roboto',  sans-serif;
    font-weight: 300;
}
#cont-alert p img{
    width: 100px;
    height: auto;
    fill: #FFFFFF;
    
}
footer{
    background-color: rgb(207, 206, 206);
    font-family: 'Calibri' , sans-serif;
    font-weight: 300;
    text-align: center;
    height: 20px;
    padding: 20px;
    color: rgb(133, 133, 133);
}
/*RESPONSIVIDADE TELA DE TABLET*/
@media (max-width: 1200px){
    #cont-logo{
        padding-left: 20px;
    }
}
/*RESPONSIVIDADE TELA DE SMARTPHONE*/
@media (max-width: 750px){
    .header{
        border-radius: 0 0 70px 70px;
        height: 360px;
        transition: 0.5s;
    }
    #cont-logo{
        display: flex;
        justify-content: center;
        padding: 0;
    }
    #cont-logo img{
        width: 210px;
        height: auto;
    }
    #cont-topo{
        background-color: ;
        
    }
    #cont-topo h1{
        font-size: 30px;
    }
    #cont-topo p{
        font-size: 18px;
        width:80%;
    }
    .main{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 0;
    }
    #main-text p{
        font-size: 18px;
        text-align: center;
        width: 380px;
    }
    #input-pin{
        width: 300px;
        height: 40px;
        margin-right: 0px;
    }    
    #input-acesso{
        margin: 20px 0 0 0;
        width: 310px;
        height: 50px;
        font-size: 18px;
        margin-left: 0px;
    }
    .alert{
        padding: 0 30px 0 30px;
    }
    #cont-alert p{
        font-size: 12px;
        
    }
    #cont-alert p img{
        width: 80px;
        height: auto;
    }
    footer{
        font-size: 12px;
    }    
}

